<div class="container">
  <div class="row">
    <div class="col-12 text-center title mt-5">
      <h1>予約編集画面</h1>
    </div>
      <%= form_with model: @reservation, url: reservation_path(@reservation), local: true, class: 'form', data: { turbo_confirm: 'この内容で更新してよろしいですか?' } do |form| %>
        <div class="col-12 mt-3 content">
          <div class="col-md-4 mx-auto">
            <div class="day form-group">
              <%= form.label :name, '名前' %><span class="badge rounded-pill bg-danger mx-2 mb-1">必須</span>
              <%= form.text_field :name, class: 'form-control', placeholder: "#{@reservation.name}", autofocus: true %>
            </div>
          </div>

          <div class="col-md-4 mx-auto mt-3">
            <div class="day form-group">
              <%= form.label :email, 'メールアドレス' %><span class="badge rounded-pill bg-danger mx-2 mb-1">必須</span>
              <%= form.text_field :email, class: 'form-control', placeholder: "#{@reservation.email}" %>
            </div>
          </div>

          <div class="col-md-4 mx-auto mt-3">
            <div class="affiliation form-group">
              <%= form.label :affiliation, '学部学科' %><span class="badge rounded-pill bg-danger mx-2 mb-1">必須</span>
              <%= form.text_field :affiliation, class: 'form-control', placeholder: "#{@reservation.affiliation}" %>
            </div>
          </div>

          <div class="col-md-4 mx-auto mt-3">
            <div class="day form-group">
              <%= form.label :online_or_offline, '希望形式' %><span class="badge rounded-pill bg-danger mx-2 mb-1">必須</span>
              <br>
              <%= form.label :online_or_offline, '対面', value: 1 %>
              <%= form.radio_button :online_or_offline, '対面', class: 'form-check-label', checked: "#{@reservation.online_or_offline}" == "対面"%>

              <%= form.label :online_or_offline, 'Zoom', value: 0 %>
              <%= form.radio_button :online_or_offline, 'オンライン', class: 'form-check-label', checked: "#{@reservation.online_or_offline}" == "オンライン"%>
            </div>
          </div>

          <div class="col-md-4 mx-auto mt-3">
            <div class="day form-group">
              <%= form.label :day, '日付' %>
              <%= form.text_field :day, class: 'form-control', placeholder: "#{@day}", readonly: true %>
            </div>
          </div>

          <div class="col-md-4 mx-auto mt-3">
            <div class="time form-group">
              <%= form.label :time, '時間' %>
              <%= form.text_field :time, class: 'form-control', placeholder: "#{@time}", readonly: true %>
            </div>
          </div>

          <%= form.hidden_field :start_time, value: @start_time %>
          <div class="submit mt-5">
            <%= form.submit '更新する', class: 'btn btn-primary mx-auto d-block' %>
          </div>
        </div>
      <% end %>
    <div class="col-12 text-right">
      <%= link_to '戻る', reservations_path %>
    </div>
  </div>
</div>
