<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '前週へ'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %></span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: '翌週へ'), calendar.url_for_next_view %>
    <% reservations = Reservation.reservations_after_three_month %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>時間</th>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <td></td>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <% times.each do |time| %>
          <tr>
            <td><%= time %></td>
            <% if current_admin_user %>
              <!-- 管理画面側の表示 -->
              <% week.each do |day| %>
                <td>
                  <% reservation = Reservation.find_by(day: day, time: time) %>
                  <% if day <= Date.today.since(1.day) %>
                    <%= check_box_tag 'reserved', true, true, data: { day: day, time: time }, class: "reservation_check_box" %>
                  <% else %>
                    <%= check_box_tag 'reserved', true, reservation && reservation.reserved, data: { day: day, time: time }, class: "reservation_check_box" %>
                  <% end %>
                </td>
              <% end %>
            <% else %>
              <!-- アプリ側の表示 -->
              <% week.each do |day| %>
                <td>
                  <% if check_reservation(reservations, day, time) %>
                    <%= '×' %>
                  <% elsif day <= Date.today.since(1.day)%>
                    <%= '×' %>
                  <% else %>
                    <%= link_to new_reservation_path(day: day, time: time) do %>
                      <%= '○' %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
